@import url('http://fonts.cdnfonts.com/css/monument-extended');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --darkGray: #151515;
    --lightGray: #f5f5f5;
    --green: #3EB650;
    --font1: 'Monument Extended', sans-serif;
    --font2: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--darkGray);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--black);
}

body {
    font-family: var(--font1);
    background-color: var(--white);
}    

/*----------------------------------- NAVIGATION BAR -----------------------------------*/

header {
    height: 75px;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    padding: 30px 10%;
    background-color: var(--lightGray);
}

.logo {
    height: 15px;
    margin-right: auto;
    transition: all 0.15s ease 0s ;
}

.logo:hover {
    height: 20px;
    cursor: pointer;
}

li, a, button {
    color: var(--black);
    font-size: 15px;
    font-weight: 400;
    font-family: var(--font2);
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    padding: 0px 5px;
    display: inline-block;
}

.nav_links li a {
    transition: all 0.15s ease 0s ;
}

.nav_links li a:hover {
    font-family: var(--font1);
    font-size: 17.5px;
}

button {
    margin-left: 20px;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: var(--white);
    transition: all 0.15s ease 0s ;
}

button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--black);
}

/*---------------------------------------------  ---------------------------------------------*/

.form-container {
    width: 650px;
    padding: 175px 100px;
    margin: 8.5vh auto 8.5vh;
    /* border: 1px solid var(--darkGray); */
    box-shadow: 0px 5px 15px 1.5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* background-color: var(--darkGray); */
    transition: .5s ease;
}

#form-container-Title {
    font-size: 50px;
    font-family: var(--font1);
    text-align: center;
    transition: .25s ease;
}

.formSection {
    width: 400px;
    margin: 25px auto 25px;
}

input[type=text], [type=password] {
    width: 100%; 
    margin: 10px 0px;
    padding: 15px 20px;
    font-size: 15px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid var(--black);
    border-radius: 8px;
} 

#error {
    width: 85%;
    color: #E12B38;
    text-align: center;
    margin: 5px auto 0px;
    display: none;
    transition: .25s ease;
}

#error p {
    font-size: 15px;
    font-family: var(--font2);
}

#submitButton {
    text-align: center;
}

input[type=submit] {
    color: var(--white);
    font-size: 20px;
    padding: 15px 20px;
    width: 200px;
    border: none;
    border-radius: 8px;
    background-color: var(--black);
    transition: .15s ease-in-out;
}

input[type=submit]:hover {
    color: var(--white);
    cursor: pointer;
    background-color: var(--green);
}